@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, #252c88 0%, #030524 52%, #18010e 113%);
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.2);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}
.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.2);
  border-radius: 20px;
  background: #f7f6ff;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}
.item:active {
  cursor: grabbing;
}
.hold {
  box-shadow: inset 4px 4px 13px 0px rgb(148, 149, 158);
  border: none;
}
.hide {
  display: none;
}
.placeholder1.hovered {
  border-radius: 20px;
  animation-name: glow1;
  animation-duration: 280ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.placeholder2.hovered {
  border-radius: 20px;
  animation-name: glow2;
  animation-duration: 280ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.placeholder3.hovered {
  border-radius: 20px;
  animation-name: glow3;
  animation-duration: 280ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.placeholder1, .placeholder2, .placeholder3 {
  width: 150px;
  height: 66px;
}
.start {
  background: linear-gradient(45deg, rgb(252, 104, 85) 4%, rgb(252, 252, 119) 68%);
}
.progress {
  background: linear-gradient(45deg, rgb(98, 112, 255) 10%, rgb(135, 255, 248) 85%);
}
.done {
  background: linear-gradient(45deg, rgb(146, 216, 56) 31%, rgb(247, 255, 160) 73%);
}
@keyframes glow1 {
  from {
    box-shadow: inset 0px 0px 8px 4px rgb(252, 124, 107);
  }
  to {
    box-shadow: inset 0px 0px 11px 8px rgb(252, 124, 107);
  }
}
@keyframes glow2 {
  from {
    box-shadow: inset 0px 0px 8px 4px rgb(0, 152, 255);
  }
  to {
    box-shadow: inset 0px 0px 11px 8px rgb(0, 152, 255);
  }
}
@keyframes glow3 {
  from {
    box-shadow: inset 0px 0px 8px 4px rgb(83, 216, 56);
  }
  to {
    box-shadow: inset 0px 0px 11px 8px rgb(83, 216, 56);
  }
}

